

body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }

@media (min-width: 768px) {
  #wd-kanbas .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.list-group.wd > .list-group-item:focus {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}

.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}

.list-group-item {
  --bs-list-group-border-color: gray;
}

.wd-lesson {
  border-left: 3px solid green !important;
}

/* i {
  font-size: 1rem;
  color: #333;
  top: .75rem;
  left: .75rem
}

input {
  padding-left: 2.5rem;
} */

#wd-courses-navigation {
  padding-right: 15px;
}

.wd-assignment-list-item {
  border-left: 5px solid green !important;
}

#wd-module-container {
  padding-right: 4rem;
}